
<div class="container">
<h1>What is OKR?</h1> <br>
<p><b>OKR</b> stand for Objectives and Key Results, a collaborative goal-setting methodology used by teams and </p>
    <p>individuals to set challenging, ambitious goals with measurable results. OKRs are how you track progress,</p> 
    <p>create alignment, and encourage engagement around measurable goals.</p>
<br>
<h2>OBJECTIVE:</h2>
<p>The Objective is qualitative and reminds you of what you set to improve.</p>
<br>
<h2>KEY RESULT:</h2>
<p>The Key Results are quantitative, measurable outcomes you need to deliver to help achieve the Objective.</p>
<br>
<h2>EXAMPLE:</h2>
<h3>Objective:</h3>
<p>Become a confident public speaker.</p>
<h3>Key Results:</h3>    
<p>KR 1: Gain knowledge about public speaking within 2 weeks.</p>
<p>KR 2: Obtain knowledge in interested topics within a month.</p>
<p>KR 3: Gain 3000 followers online within 6 months.</p>
<p>KR 4: Participate in public speaking events atleast 3 times per month.</p>
</div>
<br>
<p class="link"><b>Now you can <a routerLink="/Create">creating</a> an OKR !</b></p>




