<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<input type="text" placeholder="Search.." name="search" class="search">
<button type="submit"><i class="fa fa-search"></i></button>
<br>
<br>
<input class="title" placeholder="OKR Title" >
<br>
<br>
<br>
<label>Objective </label>
<input class="txtbox" type="text" >
<br>
<br>
<br>
<div class="grid-container">
    <div class="header" style="background-color: rgb(163, 164, 236);">Key Result</div>
    <div class="header" style="background-color: rgb(163, 164, 236);">Status</div>
    <div class="header" style="background-color: rgb(163, 164, 236);">Result</div>  
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>