
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<input type="text" placeholder="Search.." name="search" class="search">
<button type="submit"><i class="fa fa-search"></i></button>
<br>
<br>
<input class="title"  placeholder="OKR Title" >
<br>
<br>
<br>
<label>Objective </label>
<input class="txtbox" type="text" style=" text-align: center;" placeholder="">
<br>
<br>
<br>
<!-- Table that displays your data -->
<table>
  <colgroup>
    <col span="1" style="width: 40%;">
    <col span="1" style="width: 10%;">
    <col span="1" style="width: 10%;">
  </colgroup>
  <tr>
  <th >Key Result</th>
  <th>Status</th>
  <th>Result</th>
  </tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  </table>