.search{
  width: 350px;
  text-align: center;
  height: 30px;
  margin-top: 90px;
  margin-bottom: 40px;
  margin-left: 350px;
  }

  .title{
  width: 350px;
  text-align: center;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 350px;
  }
  
  label{
  font-size: 30px;
  margin-left: 105px;
  }
  
  th{
    font-size: 20px;
  }
  .txtbox{
  padding-top: 10px;
  width: 400px;
  margin-left: 60px;
  }
  
  
  .header{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
  }
  table{
    width: 900px;
    display: block;
    border-collapse: separate;
    margin-left: 100px;
    border-spacing: 7px;
    margin-top: 30px;
    background-color: rgb(163, 164, 236);
    }
    
    tr{
    width: 280px;
    text-align: center;
    margin-top: 30px;
    }
    
    td{
    width: 280px;
    height: 35px;
    background-color: white;
    }