
<div class="block">
    <h1 class="title">OKR</h1>
<br>
    <h3>what gets measured gets improved!</h3>
    <h2><b>keep your team aligned and goal-oriented</b></h2>
    <p class="content">
       <b> <ng-container *ngFor="let letter of word.split(''); let i = index">
        <span [ngStyle]="{color: letter ==='A'? 'red':'black'}" >{{letter}}</span>
        </ng-container> </b> is a simple app ideal for managing remote teams,<br> taking the organizational 
        burden of setting goals, OKRs,<br>daily and weekly check-ins, and task management.</p>
    </div>

